:root {
  /* --header-bg-color: #1976D2; header blue background color */
  --header-bg-color: #2ab750;
  --button-bg-color: #1976D2; /* buttons blue backround color */
  --buttonHover-bg-color:  #0364c5; /* buttonsHover darkblue backround color */
  /* --headerText: "Chandra Sekhar Azad Higher Secondary School"; */
  --headerText: "Chandra Sekhar Azad Hr.Sec School";
  /* --adressText: "SEMLI KHURD SEHORE"; */
  --addressText: "Semli Khurd Sehore";
}