:root {
  --header-bg-color: #1976D2; /* header blue background color */
  --button-bg-color: #0364c5;  /* buttons blue backround color */
  --buttonHover-bg-color: #1976D2; /* buttonsHover darkblue backround color */
}